// Fonts
$font-main: "TT_Firs_Neue", sans-serif !default;

// Colors
$main-color: #0B1226;
$second-color: #747884;
$accent-color: #0070B8;
$divider-color: #E4E4E4;
$white: #ffffff;
$aicon-color: #157FB1;

// Paddings
$content-padding-x-lg: 60px;
$content-padding-x-md: 24px;
$content-padding-x-sm: 16px;

$content-padding-top-lg: 40px;
$content-padding-bottom-lg: 140px;

$content-padding-top-md: 24px;
$content-padding-bottom-md: 48px;

$content-padding-top-sm: 16px;
$content-padding-bottom-sm: 48px;
